*{
    margin:0;
    padding:0;
    font-family:sans-serif;
}
.banner{
    width:100%;
    height:100vh;
    background-image:url("pexels-henry-&-co-2341290.jpg");
    background-size:cover;
    background-position: center;
}

.circular-image {
    width: 120px; 
    height: 120px;
    border-radius: 50%; 
    overflow: hidden; 
    cursor:pointer;
  }
.circular-image img{
    width:100%;
    height:auto;
    display: block;
}

.navbar{
    width:85%;
    margin:auto;
    padding:35px 0;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li{
    list-style: none;
    display:inline-block;
    font-weight: bold;
    margin:0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color:black;
    text-transform: uppercase;
}
.navbar ul li::after{
    content:'';
    height:3px;
    width:0;
    background:#014397;
    position: absolute;
    left:0;
    bottom:-10px;
    transition:0.5s;
}
.navbar ul li:hover::after{
    width:100%;
}
.content h1{
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   text-align:center; 
}
.textbox{
    width:80%;
    max-width:600px;
    padding:20px;
    height:300px;
    margin:50px auto;
    border:2px solid #ccc;
    border-radius:15px;
    background-image: url("pexels-henry-&-co-2341290.jpg");
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align:center;
}
.part1, .part2 {
    padding: 20px; /* Add padding to both parts for spacing */
}
.part1 {
    border-bottom: 1px solid #ccc; /* Add a border between parts */
}
.t1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin-bottom: 15px;
}
.t2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 25px;
}
.part2{
margin-top: 20px;
}
button{
    width: 150px;
    padding: 10px 20px;
    margin-top: 5px; /* Add some space above the button */
    border-radius: 20px;
    border: none;
    background-color: #014397;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #012d66; /* Darken the button on hover */
}